In [6]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Lasso, Ridge
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, ExtraTreesRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
import matplotlib.gridspec as gridspec
#import missingno as msno
import scipy.stats as stats 
from scipy.special import boxcox1p
from sklearn.model_selection import train_test_split
import warnings

In [3]:
df = pd.read_csv('../data/residence.csv',sep=";", index_col=False)
df

,house_type,house_zip_code,house_rooms,house_square_meters,house_year,house_taxes,house_energy,house_ground_area,house_price
0,Villa,8210,5,150.0,25,3161,D,810,4250000
1,Villa,9000,4,164.0,114,3523,C,654,4295000
2,Villa,2680,5,137.0,49,3606,C,831,4350000
3,Villa,2670,5,182.0,57,4114,D,743,4350000
4,Villa,8930,7,270.0,20,3615,B,845,4395000
...,...,...,...,...,...,...,...,...,...
22722,Villa,7752,10,318.0,121,2325,G,2359,595000
22723,Villa,9690,4,141.0,57,1227,E,698,1245000
22724,Villa,9574,6,200.0,124,1147,C,315,695000
22725,Villa,6230,6,296.0,46,2279,D,1076,2995000
22726,Villa,4250,5,218.0,244,2518,D,13863,3995000

In [7]:
df.dtypes

house_type              object
house_zip_code           int64
house_rooms              int64
house_square_meters    float64
house_year               int64
house_taxes              int64
house_energy            object
house_ground_area        int64
house_price              int64
dtype: object

In [8]:
df[df.isnull().any(axis=1)].head()

Empty DataFrame
Columns: [house_type, house_zip_code, house_rooms, house_square_meters, house_year, house_taxes, house_energy, house_ground_area, house_price]
Index: []