In [121]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing

In [167]:
# load the data set
df = pd.read_csv('../data/residence.csv',sep=";", index_col=False)  
df

,house_type,house_zip_code,house_rooms,house_square_meters,house_year,house_price
0,Andelsbolig,9500,3,89.0,1906,148000
1,Andelsbolig,6800,3,98.0,2007,260000
2,Andelsbolig,7130,3,105.0,2007,275000
3,Fritidshus,4920,3,50.0,1870,299000
4,Villa,7660,3,100.0,1951,350000
...,...,...,...,...,...,...
33211,Fritidshus,6470,3,105.0,2010,1595000
33212,Villa,9830,2,149.0,1950,450000
33213,Villa,6950,6,260.0,2000,4195000
33214,Villa,6270,6,201.0,1992,745000
33215,Villa,6971,4,88.0,1927,400000

In [198]:
# transform the data and specify prediction parameters

# Encode the house type from string to integer
label_enc =preprocessing.LabelEncoder()
df['house_type'] = label_enc.fit_transform(df['house_type'].astype(str))

# Set zip for more precise predictions 
df = df.loc[df['house_zip_code'] == 3480]

# Set type for more precise predictions
#df = df.loc[df['house_type'] == 1]

#Data
df_x = df[['house_zip_code', 'house_rooms', 'house_square_meters',
       'house_year']]
#Target
df_y = df[['house_price']]

#df_y
df_x
#df

       house_zip_code  house_rooms  house_square_meters  house_year
506              3480            6                174.0        1972
1315             3480            4                 99.0        1949
1997             3480            5                118.0        1980
2229             3480            3                 92.0        1984
2533             3480            6                145.0        1979
3013             3480            4                138.0        2008
3645             3480            3                 79.0        1965
3914             3480            8                255.0        2019
4771             3480            4                112.0        1930
5059             3480            2                 66.0        1963
5069             3480            2                 65.0        1963
5603             3480            5                148.0        1998
5653             3480            6                356.0        1921
5890             3480            4                153.0        1767
6212             3480            6                237.0        1962
8422             3480            4                199.0        1978
8439             3480            5                270.0        1952
8717             3480            4                138.0        1970
9282             3480            6                182.0        1988
9693             3480            4                135.0        1986
9942             3480            5                118.0        1980
11668            3480            6                166.0        1979
11738            3480            4                112.0        1979
12362            3480            4                122.0        1775
12573            3480            5                180.0        1885
12757            3480            1                 45.0        1909
13367            3480            5                153.0        1964
13676            3480            6                173.0        1964
14368            3480            3                 68.0        1949
15089            3480            8                201.0        1939
15500            3480            5                176.0        1979
16537            3480            4                134.0        2006
16864            3480            3                 99.0        1920
17127            3480            6                115.0        1937
17778            3480            6                165.0        1989
18004            3480            5                135.0        1970
18143            3480            5                122.0        1973
18753            3480            5                105.0        1909
19140            3480            4                111.0        1965
19871            3480            5                214.0        1917
20741            3480            8                227.0        1900
21357            3480            4                155.0        1900
21931            3480            3                 74.0        1995
24228            3480            6                191.0        1988
24352            3480            6                193.0        1930
24750            3480            3                 72.0        1995
26114            3480            5                117.0        1876
27454            3480            5                140.0        1954
28843            3480            4                171.0        1940

In [199]:
# initialize the linear model
reg = linear_model.LinearRegression()

In [200]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.33, random_state=42 )

In [184]:
#Normalize

# fit scaler on training data
norm = MinMaxScaler().fit(x_train)


# transform training data
x_train_norm = norm.transform(x_train)


# transform testing dataa
x_test_norm = norm.transform(x_test)

In [210]:
# Standardize
from sklearn.preprocessing import StandardScaler

scale= StandardScaler()
 
# standardization of dependent variables
x_train_std = scale.fit_transform(x_train)
x_test_std = scale.fit_transform(x_test) 
print(x_train_std)
#print(x_test)

[[ 0.         -0.54772256  0.15089231 -1.13347065]
 [ 0.          0.18257419 -0.56305731 -1.64947862]
 [ 0.         -0.54772256  0.97757083  0.54355528]
 [ 0.         -2.00831604 -1.52125286  0.22105029]
 [ 0.          0.18257419  2.31152934 -0.01545336]
 [ 0.          0.18257419  0.62059602 -1.45597563]
 [ 0.          0.91287093 -0.60063361 -0.33795835]
 [ 0.          0.18257419  0.54544342  0.56505561]
 [ 0.          0.91287093  0.50786713  0.41455328]
 [ 0.          0.91287093  0.82726564  0.7585586 ]
 [ 0.         -1.2780193  -0.90124398 -0.703464  ]
 [ 0.         -0.54772256 -0.1685062   1.18856525]
 [ 0.          2.37346442  1.01514712 -0.29495768]
 [ 0.          0.18257419  0.01937528  0.97356192]
 [ 0.          0.18257419 -0.46911657  0.43605362]
 [ 0.         -0.54772256 -0.90124398 -0.07995436]
 [ 0.          0.91287093  0.35756194  0.56505561]
 [ 0.          0.18257419 -0.54426916  0.58655594]
 [ 0.          0.18257419 -0.78851509 -0.93996766]
 [ 0.          0.18257419 -0.22487065  0.37155262]
 [ 0.         -0.54772256 -0.46911657 -3.82101219]
 [ 0.          0.18257419  1.25939305 -0.767965  ]
 [ 0.         -2.00831604 -1.54004101  0.22105029]
 [ 0.         -0.54772256 -0.65699805  0.56505561]
 [ 0.          0.91287093  0.65817231  0.7585586 ]
 [ 0.         -0.54772256  0.45150268 -0.27345735]
 [ 0.          0.18257419 -0.54426916  0.58655594]
 [ 0.          2.37346442  2.02970712  1.4250689 ]
 [ 0.         -1.2780193  -1.37094768  0.90906093]
 [ 0.          0.91287093  1.69152045  0.19954996]
 [ 0.         -1.2780193  -1.48367657 -0.07995436]
 [ 0.         -0.54772256 -0.6757862   0.26405096]]

In [186]:
#print(x_train_norm)

In [212]:
print(y_train)

       house_price
21357      3995000
26114      3095000
8422       5495000
5059       1595000
8439       8795000
12573      6745000
17127      2895000
15500      5395000
506        4095000
24228      4895000
16864      3395000
3013       3425000
15089     13800000
5603       4500000
18143      3650000
1315       2895000
11668      4395000
1997       3095000
18753      3645000
18004      4295000
12362      2375000
19871      4995000
5069       1675000
11738      3695000
9282       5495000
28843      5395000
9942       2995000
3914      14500000
21931      1995000
6212       4175000
14368      1945000
19140      2395000

In [203]:
#reg.fit(x_train_norm, y_train)
reg.fit(x_train_std, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [218]:
data = [[0., -0.54772256, -0.6757862, 0.26405096]]
testing_df = pd.DataFrame (data, columns = ['house_zip_code','house_rooms', 'house_square_meters', 'house_year'])
testing_df
# result should be 2395000

   house_zip_code  house_rooms  house_square_meters  house_year
0             0.0    -0.547723            -0.675786    0.264051

In [219]:
# predictions
#pred = reg.predict(testing_df)
#pred = reg.predict(x_test_norm)
pred = reg.predict(x_test_std)
print(pred)

[[3031771.39484187]]

In [220]:
y_test

       house_price
5890       5500000
24750      1835000
27454      2750000
24352      6800000
8717       3795000
13676      4100000
13367      4495000
12757      1645000
16537      4595000
9693       3995000
5653      10495000
2533       3695000
17778      4995000
4771       2275000
2229       2495000
3645       1495000
20741      6455000

In [222]:
#Standerdize the end result
y_test_std = scale.fit_transform(y_test)
y_pred_std = scale.fit_transform(pred)

In [223]:
print(np.mean((y_pred_std - y_test_std)**2))

1.0