In [1]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing

In [2]:
df = pd.read_csv('../data/residence.csv',sep=";", index_col=False)
df

,house_type,house_zip_code,house_rooms,house_square_meters,house_year,house_taxes,house_energy,house_ground_area,house_price
0,Ejerlejlighed,9492,2,60,26,2316,D,60,1495000
1,Ejerlejlighed,2880,1,45,57,1963,D,45,1495000
2,Villa,8732,4,106,54,1757,C,937,1495000
3,Villa,5854,6,173,47,1987,D,759,1795000
4,Ejerlejlighed,2820,2,51,85,2215,E,51,1950000
...,...,...,...,...,...,...,...,...,...
27068,Villa,4960,4,117,161,1238,E,30366,645000
27069,Villa,6990,12,467,49,3477,C,3447,4735000
27070,Villa,9600,6,182,42,1456,D,696,1200000
27071,Villa,6430,5,120,67,1396,G,986,565000
27072,Villa,7760,16,568,66,2940,E,1810,1675000

In [3]:

#Data
df_x = df[['house_type','house_zip_code', 'house_rooms', 'house_square_meters',
       'house_year', 'house_taxes', 'house_energy', 'house_ground_area']]
#Target
df_y = df[['house_price']]
df_x

,house_type,house_zip_code,house_rooms,house_square_meters,house_year,house_taxes,house_energy,house_ground_area
0,Ejerlejlighed,9492,2,60,26,2316,D,60
1,Ejerlejlighed,2880,1,45,57,1963,D,45
2,Villa,8732,4,106,54,1757,C,937
3,Villa,5854,6,173,47,1987,D,759
4,Ejerlejlighed,2820,2,51,85,2215,E,51
...,...,...,...,...,...,...,...,...
27068,Villa,4960,4,117,161,1238,E,30366
27069,Villa,6990,12,467,49,3477,C,3447
27070,Villa,9600,6,182,42,1456,D,696
27071,Villa,6430,5,120,67,1396,G,986
27072,Villa,7760,16,568,66,2940,E,1810

In [4]:
# transform the data and specify prediction parameters

# Encode the house type from string to integer
label_enc = preprocessing.LabelEncoder()

df['house_type'] = label_enc.fit_transform(df['house_type'].astype(str))
# Encode the house energy from string to integer
df['house_energy'] = label_enc.fit_transform(df['house_energy'].astype(str))
# Set zip for more precise predictions 
df = df.loc[df['house_zip_code'].isin([2900, 2920, 2930, 2820, 2930, 2960, 2950])]


# Set type for more precise predictions
#df = df.loc[df['house_type'] == 2]

#Data
df_x = df[['house_type','house_zip_code', 'house_rooms', 'house_square_meters',
       'house_year', 'house_taxes', 'house_energy', 'house_ground_area']]
#Target
df_y = df[['house_price']]
print(df)
#df_y
#df_x
#df

       house_type  house_zip_code  house_rooms  house_square_meters  \
4               0            2820            2                   51
25              2            2900            4                  149
37              0            2920            3                   99
57              0            2900            3                   78
149             0            2920            5                  123
...           ...             ...          ...                  ...
23270           2            2900            8                  360
23456           0            2820            4                   97
23574           3            2900            3                   88
24902           2            2960            8                  254
25399           2            2820            8                  279

       house_year  house_taxes  house_energy  house_ground_area  house_price
4              85         2215             9                 51      1950000
25             86         6103             8                753      7995000
37             82         4439             7                 99      4395000
57             88         3133             9                 78      4995000
149            85         4275             8                123      6395000
...           ...          ...           ...                ...          ...
23270         105        12290             9               1676     15345000
23456          72         3930             9                 97      2850000
23574          93         4403             8                 88      3495000
24902          50         8424             7               1071      9495000
25399          87         5078             9               1260      8750000

[435 rows x 9 columns]

In [5]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.20, random_state=0)

In [6]:
#Normalize

# fit scaler on training data
norm = MinMaxScaler().fit(x_train)


# transform training data
x_train_norm = norm.transform(x_train)


# transform testing dataa
x_test_norm = norm.transform(x_test)
print(x_train_norm)
#print(x_test_norm)

In [7]:
# Example of getting neighbors for an instance
from math import sqrt
 
# calculate the Euclidean distance between two vectors
def euclidean_distance(row1, row2):
	distance = 0.0
	for i in range(len(row1)-1):
		distance += (row1[i] - row2[i])**2
	return sqrt(distance)
 
# Locate the most similar neighbors
def get_neighbors(train, test_row, num_neighbors):
	distances = list()
	for train_row in train:
		dist = euclidean_distance(test_row, train_row)
		distances.append((train_row, dist))
	distances.sort(key=lambda tup: tup[1])
	neighbors = list()
	for i in range(num_neighbors):
		neighbors.append(distances[i][0])
	return neighbors

In [17]:
print(x_test_norm[0])
get_neighbors(x_test_norm, x_test_norm[0], 5)

[0.         0.78571429 0.21428571 0.11814346 0.52422907 0.03390525
 0.55555556 0.00419759]

[array([0.        , 0.78571429, 0.21428571, 0.11814346, 0.52422907,
        0.03390525, 0.55555556, 0.00419759]),
 array([0.        , 0.71428571, 0.28571429, 0.13924051, 0.54625551,
        0.10553208, 0.66666667, 0.00494716]),
 array([0.        , 0.71428571, 0.21428571, 0.06118143, 0.37004405,
        0.03967703, 0.55555556, 0.00217375]),
 array([0.        , 0.71428571, 0.21428571, 0.11814346, 0.39207048,
        0.04011859, 0.66666667, 0.00419759]),
 array([0.        , 0.71428571, 0.21428571, 0.07805907, 0.3876652 ,
        0.03686999, 0.66666667, 0.00277341])]